<header>
   <h2 class="container">Аккаунт менеджера продаж: Имя Ф.О.</h2>
</header>

<div class="workspace row container-fluid">
   <div class="navbar col-3">
      <ul>
         <li><a href=""><span class="badge bg-info ">Экспертная система </span></a></li>
         <li><a href="" [routerLink]="['/expertsystem','select']"> <span class="badge btn-primary">Экспертная система</span>
         </a></li>
         <li><a href="">Лист прозвона</a></li>
         <li><a href="">Записи звонков</a></li>
         <li><a href="">Базы</a></li>
         <li><a href="">Обучение</a></li>
         <li><a href="">Выйти</a></li>
      </ul>
   </div>
   <div class="datas col-9 d-flex flex-column">
      <div class="choose row d-flex flex-row justify-content-center">
         <div class=" col-3">
            <p>День: 1.04.21</p>
         </div>
         <div class=" col-3">
            <p>Неделя: 1 / 04.21</p>
         </div>
         <div class=" col-3 ">
            <p>Апрель 2021</p>
         </div>
      </div>
      <div class="data-item row d-flex flex-row justify-content-center ">
         <p class="col-1 namber text-center ">1</p>
         <p class="col-2  name text-center">Звонок</p>
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100">25%
            </div>
         </div>
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
               aria-valuemax="100">50%
            </div>
         </div>
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
               aria-valuemax="100">100%
            </div>
         </div>
      </div>
   </div>
</div>
