<header>
   <h2 class="container">Аккаунт руководителя отдела продаж: Имя Ф.О.</h2>
</header>

<div class="workspace container row">
   <div class="navbar col-3">
      <ul>
         <li><a href=""> <span class="badge bg-info">Добавить МПП</span> </a></li>
         <li><a href="" [routerLink]="['/expertsystem','select']"> <span class="badge btn-primary">Экспертная система</span>
         </a></li>
         <li><a href="">Базы</a></li>
         <li><a href="">Записи звонков</a></li>
         <li><a href="">Обучение</a></li>
         <li><a href="">Выйти</a></li>
      </ul>
   </div>
   <div class="datas col-9 d-flex flex-column">
      <div class="data-get  d-flex flex-column col-12 ">
         <div class="choose row d-flex flex-row justify-content-center">
            <div class=" col-3">

               <p>День: 1.04.21</p>

            </div>
            <div class=" col-3">
               <p>Неделя: 1 / 04.21</p>
            </div>
            <div class=" col-3 ">
               <p>Апрель 2021</p>
            </div>
         </div>
         <div class="data-item row d-flex flex-row justify-content-center text-center">
            <p class="col-1 namber ">1</p>
            <p class="col-3  name">Звонок</p>
            <p class="col-2  day-info">100</p>
            <p class="col-2  week-info">500</p>
            <p class="col-2  month-info">2800</p>
         </div>
      </div>
      <div class="set">
         <div class="data-set  d-flex flex-column col-12 ">
            <div class="choose row d-flex flex-row justify-content-center">
               <div class=" col-3">

                  <p>День: 1.04.21</p>

               </div>
               <div class=" col-3">
                  <p>Неделя: 1 / 04.21</p>
               </div>
               <div class=" col-3 ">
                  <p>Апрель 2021</p>
               </div>
            </div>
            <div class="data-item row d-flex flex-row justify-content-center text-center">
               <p class="col-1 namber ">1</p>
               <p class="col-3  name">Звонок</p>
               <p class="col-2  day-info">100</p>
               <p class="col-2  week-info">500</p>
               <p class="col-2  month-info">2800</p>
            </div>
         </div>
      </div>
   </div>
</div>